<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Directives</title>


    <link href="css/angular-resizable.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body ng-app="dirApp">
<my-button ng-click="click = !click"></my-button>

    <div ng-show="click" resizable
         id="standard-box"
         r-directions="['right', 'bottom', 'left', 'top']"
         r-centered-x="true"
         r-centered-y="true"
         r-width="400"
         r-height="dynamicSize.height">
        <div class="inner">
            <h1>GOOD</h1>
        </div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="js/angular-resizable.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>